[submodule "tf/multi-folder"]
	path = tf/multi-folder
	url = git@github.com:nar3k/tf-yc-recipes.git
[submodule "elasticsearch-operator"]
	path = elasticsearch-operator
	url = git@github.com:Savemech/yc-k8s-elastic.git
[submodule "prometheus-operator"]
	path = prometheus-operator
	url = git@github.com:Savemech/yc-k8s-prometheus.git
